In [37]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [38]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage = requests.get('https://www.glassdoor.co.in/Reviews/index.htm?overall_rating_low=3.5&page=1&filterType=RATING_OVERALL', headers = headers).text

In [39]:
soup = BeautifulSoup(webpage, 'lxml')

In [40]:
#print(soup.prettify())

In [41]:
#soup.find_all('h1')[0].text

In [42]:
#for x in range(1,len(soup.find_all('h2'))):
#print(soup.find_all('h2')[x].text.strip())

In [43]:
#soup.find_all('b')

In [44]:
#soup.find_all('span', attrs = {'data-test':'employer-industry'})

In [45]:
company =  soup.find_all('div', class_='mt-0')
len(company)

10

In [47]:
name =[]
rating=[]
reviews=[]
salary=[]
jobsProvided=[]
empCount=[]
industry=[]


for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('b').text.strip())
    reviews.append(i.find('h3', attrs = {'data-test':'cell-Reviews-count'}).text.strip())
    salary.append(i.find('h3', attrs = {'data-test':'cell-Salaries-count'}).text.strip())
    jobsProvided.append(i.find('h3', attrs = {'data-test':'cell-Jobs-count'}).text.strip())
    empCount.append(i.find('span', attrs = {'data-test':'employer-size'}).text.strip())
    industry.append(i.find('span', attrs = {'data-test':'employer-industry'}).text.strip())
    
d={'Company_name':name, 'Company_rating':rating, 'Reviews':reviews, 'Salary':salary, 'Jobs_Provided':jobsProvided, 'Company_Size':empCount, 'Industry':industry}
df=pd.DataFrame(d)
df

,Company_name,Company_rating,Reviews,Salary,Jobs_Provided,Company_Size,Industry
0,Tata Consultancy Services,3.9,1.3L,1.3L,1.5T,10000+ Employees,Software Development
1,Accenture,4.1,1.5L,78.7T,27.5T,10000+ Employees,Business Consulting
2,Amazon,4.1,1.8L,43.3T,15.1T,10000+ Employees,Internet & Web Services
3,Cognizant Technology Solutions,3.8,86.2T,71.7T,2.1T,10000+ Employees,Information Technology Support Services
4,Deloitte,4.1,1L,34.1T,35.2T,10000+ Employees,Accounting & Tax
5,Capgemini,4.0,71T,47T,8.7T,10000+ Employees,Enterprise Software & Network Solutions
6,IBM,4.2,1.1L,33.4T,4T,10000+ Employees,Information Technology Support Services
7,EY,3.9,72.9T,19.3T,11.5T,10000+ Employees,Accounting & Tax
8,HCLTech,3.7,41.1T,33.7T,515,10000+ Employees,Computer Hardware Development
9,Oracle,4.0,49.7T,19.5T,4.3T,10000+ Employees,Enterprise Software & Network Solutions

In [55]:
final=pd.DataFrame()
for j in range(1,31): #to collect data upto 30 pages
    url='https://www.glassdoor.co.in/Reviews/index.htm?overall_rating_low=3.5&page={}&filterType=RATING_OVERALL'.format(j)  #to make the link dynamic instead of page=1 we written page={} and also included .format()
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage = requests.get(url, headers = headers).text
    soup = BeautifulSoup(webpage, 'lxml')
    company =  soup.find_all('div', class_='mt-0')
    name =[]
    rating=[]
    reviews=[]
    salary=[]
    jobsProvided=[]
    empCount=[]
    industry=[]
    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('b').text.strip())
        reviews.append(i.find('h3', attrs = {'data-test':'cell-Reviews-count'}).text.strip())
        salary.append(i.find('h3', attrs = {'data-test':'cell-Salaries-count'}).text.strip())
        jobsProvided.append(i.find('h3', attrs = {'data-test':'cell-Jobs-count'}).text.strip())
        empCount.append(i.find('span', attrs = {'data-test':'employer-size'}).text.strip())
        industry.append(i.find('span', attrs = {'data-test':'employer-industry'}).text.strip())

    d={'Company_name':name, 'Company_rating':rating, 'Reviews':reviews, 'Salary':salary, 'Jobs_Provided':jobsProvided, 'Company_Size':empCount, 'Industry':industry}
    df=pd.DataFrame(d)
    final=final.append(df, ignore_index=True)

C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)
C:\Users\koush\AppData\Local\Temp\ipykernel_14768\999957142.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df, ignore_index=True)

In [56]:
final.shape

(300, 7)

In [57]:
final.tail(25)

,Company_name,Company_rating,Reviews,Salary,Jobs_Provided,Company_Size,Industry
275,Maruti Suzuki,4.0,2.2T,2.6T,279,10000+ Employees,Transportation Equipment Manufacturing
276,Tata Steel,4.1,2.5T,2T,630,10000+ Employees,Metal & Mineral Manufacturing
277,Wipro,3.7,2.3T,2.4T,2,Unknown,N/A
278,Jacobs,4.0,6.7T,604,3.2T,10000+ Employees,Architectural & Engineering Services
279,Fractal,4.1,1.6T,1.9T,60,1001 to 5000 Employees,Business Consulting
280,Applied Materials,4.1,3.8T,659,523,10000+ Employees,Electronics Manufacturing
281,Movate,3.6,2.4T,1.8T,44,10000+ Employees,Information Technology Support Services
282,H&M,3.6,15.5T,323,1.8T,10000+ Employees,"Department, Clothing & Shoe Stores"
283,Infogain,4.0,2.6T,1.5T,86,5001 to 10000 Employees,Information Technology Support Services
284,Accenture Solutions,4.1,2.2T,2.5T,--,10000+ Employees,N/A
285,Pfizer,4.1,8.7T,415,1.6T,10000+ Employees,Biotech & Pharmaceuticals
286,Other,4.1,1.9T,2T,1,1 to 50 Employees,"Civic, Welfare & Social Services"
287,YASH Technologies,3.8,1.9T,1.7T,406,5001 to 10000 Employees,Information Technology Support Services
288,CitiusTech,3.6,2T,1.8T,15,5001 to 10000 Employees,Information Technology Support Services
289,Carelon Global Solutions,4.0,1.9T,2.1T,75,10000+ Employees,Information Technology Support Services
290,Nutanix,4.2,2T,841,156,5001 to 10000 Employees,Enterprise Software & Network Solutions
291,Cargill,4.0,7T,494,2T,10000+ Employees,Crop Production
292,Altimetrik,4.1,1.8T,1.5T,3,5001 to 10000 Employees,Information Technology Support Services
293,Whirlpool Corporation,4.0,6.1T,507,541,10000+ Employees,Consumer Product Manufacturing
294,Pearson,3.7,7.9T,407,2.1T,10000+ Employees,Publishing
295,BA Continuum India,4.3,2.2T,2.3T,--,5001 to 10000 Employees,Information Technology Support Services
296,Quantiphi,3.6,1.3T,2T,67,1001 to 5000 Employees,Business Consulting
297,Allscripts,3.9,2.8T,1.1T,56,5001 to 10000 Employees,Computer Hardware Development
298,Broadridge,4.0,2.6T,990,351,10000+ Employees,Financial Transaction Processing
299,IKEA,3.9,12.9T,264,2.5T,10000+ Employees,Home Furniture & Housewares Stores

In [58]:
final.Jobs_Provided = final.Jobs_Provided.replace({'--':'0'})
final.tail(25)

,Company_name,Company_rating,Reviews,Salary,Jobs_Provided,Company_Size,Industry
275,Maruti Suzuki,4.0,2.2T,2.6T,279,10000+ Employees,Transportation Equipment Manufacturing
276,Tata Steel,4.1,2.5T,2T,630,10000+ Employees,Metal & Mineral Manufacturing
277,Wipro,3.7,2.3T,2.4T,2,Unknown,N/A
278,Jacobs,4.0,6.7T,604,3.2T,10000+ Employees,Architectural & Engineering Services
279,Fractal,4.1,1.6T,1.9T,60,1001 to 5000 Employees,Business Consulting
280,Applied Materials,4.1,3.8T,659,523,10000+ Employees,Electronics Manufacturing
281,Movate,3.6,2.4T,1.8T,44,10000+ Employees,Information Technology Support Services
282,H&M,3.6,15.5T,323,1.8T,10000+ Employees,"Department, Clothing & Shoe Stores"
283,Infogain,4.0,2.6T,1.5T,86,5001 to 10000 Employees,Information Technology Support Services
284,Accenture Solutions,4.1,2.2T,2.5T,0,10000+ Employees,N/A
285,Pfizer,4.1,8.7T,415,1.6T,10000+ Employees,Biotech & Pharmaceuticals
286,Other,4.1,1.9T,2T,1,1 to 50 Employees,"Civic, Welfare & Social Services"
287,YASH Technologies,3.8,1.9T,1.7T,406,5001 to 10000 Employees,Information Technology Support Services
288,CitiusTech,3.6,2T,1.8T,15,5001 to 10000 Employees,Information Technology Support Services
289,Carelon Global Solutions,4.0,1.9T,2.1T,75,10000+ Employees,Information Technology Support Services
290,Nutanix,4.2,2T,841,156,5001 to 10000 Employees,Enterprise Software & Network Solutions
291,Cargill,4.0,7T,494,2T,10000+ Employees,Crop Production
292,Altimetrik,4.1,1.8T,1.5T,3,5001 to 10000 Employees,Information Technology Support Services
293,Whirlpool Corporation,4.0,6.1T,507,541,10000+ Employees,Consumer Product Manufacturing
294,Pearson,3.7,7.9T,407,2.1T,10000+ Employees,Publishing
295,BA Continuum India,4.3,2.2T,2.3T,0,5001 to 10000 Employees,Information Technology Support Services
296,Quantiphi,3.6,1.3T,2T,67,1001 to 5000 Employees,Business Consulting
297,Allscripts,3.9,2.8T,1.1T,56,5001 to 10000 Employees,Computer Hardware Development
298,Broadridge,4.0,2.6T,990,351,10000+ Employees,Financial Transaction Processing
299,IKEA,3.9,12.9T,264,2.5T,10000+ Employees,Home Furniture & Housewares Stores

In [59]:
final.to_csv(r'C:\Users\koush\Downloads\Compressed\DataAnalysisfiles\Company_Insights.csv', index = False)